In [ ]:
age = 20
print (age)

20

In [ ]:
number_1 = 3
age = 7
number_3 = 10
length_1 = 12.5
length_2 = 45.8
length_3 = 62.4
print (number_1, age, number_3)
print (type(number_1), type(age), type(number_3))
print (length_1, length_2, length_3)
print (type(length_1), type(length_2), type(length_3))

3 7 10
<class 'int'> <class 'int'> <class 'int'>
12.5 45.8 62.4
<class 'float'> <class 'float'> <class 'float'>

In [ ]:
department= "Mathematics"
print (department)
print (type(department))

Mathematics
<class 'str'>

In [ ]:
marks = 29
if marks > 35:
    print("you have passed the examination")
else:
    print("you are failed")

you are failed

In [ ]:

my_age = int(input("enter your age"))
if my_age > 18:
    print("eligible for vote")
else:
    print ("not eligible for vote")

enter your age21
eligible for vote

In [ ]:
marks = int(input("enter your mark:"))
if marks >= 90:
    print("A Grade")
elif 80 <= marks < 90:
    print ("B Grade")
elif 70 <= marks < 80:
    print ("C Grade")
elif 60 <= marks < 70:
    print ("D Grade")
elif 50 <= marks < 60:
    print ("E Grade")
else:
    print ("Fail")

enter your mark:65
D Grade

In [ ]:
age = [44,67,87,32,44]
print (age)
print (type(age))
print (len(age))
print (age[4])
print (age[3:5])
print (age[2:])
print (age[:3])
print (age[0:3:2])

[44, 67, 87, 32, 44]
<class 'list'>
5
44
[32, 44]
[87, 32, 44]
[44, 67, 87]
[44, 87]

In [ ]:
friends_name = ["haritha", "madhu", "aksheya", "kavya", "narmadha", "harini", "jenisha"]
print (friends_name)

['haritha', 'madhu', 'aksheya', 'kavya', 'narmadha', 'harini', 'jenisha']

In [ ]:
for i in friends_name:
  print (i)

haritha
madhu
aksheya
kavya
narmadha
harini
jenisha

In [ ]:
age = [18,34,56,78]
for i in age:
  if i > 18:
    print ("eligible for vote", ",your age is:",i)
  else:
    print ("not eligible for vote", ",your age is:",i)

not eligible for vote ,your age is: 18
eligible for vote ,your age is: 34
eligible for vote ,your age is: 56
eligible for vote ,your age is: 78

In [ ]:
import numpy as np
value = [34, 54,66,77,88,99]
k_value = np.array(value)

print (k_value)
print (type(k_value))

[34 54 66 77 88 99]
<class 'numpy.ndarray'>